WCFAPI/Service References/WCFFaultService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFFaultException" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFFaultException" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="MyCustomException">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System" base="q1:Exception" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MyCustomException" nillable="true" type="tns:MyCustomException" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>