WCFAPI/Service References/SampleServiceReference/SampleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62762/SampleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62762/SampleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62762/SampleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSample" />
      <xsd:import schemaLocation="http://localhost:62762/SampleService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISample_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISample_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISample_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISample_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ISample_GetEvenNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvenNumbers" />
  </wsdl:message>
  <wsdl:message name="ISample_GetEvenNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvenNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ISample_GetOddNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOddNumbers" />
  </wsdl:message>
  <wsdl:message name="ISample_GetOddNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOddNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISample">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISample/GetData" message="tns:ISample_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISample/GetDataResponse" message="tns:ISample_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISample/GetDataUsingDataContract" message="tns:ISample_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISample/GetDataUsingDataContractResponse" message="tns:ISample_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvenNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISample/GetEvenNumbers" message="tns:ISample_GetEvenNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISample/GetEvenNumbersResponse" message="tns:ISample_GetEvenNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOddNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISample/GetOddNumbers" message="tns:ISample_GetOddNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISample/GetOddNumbersResponse" message="tns:ISample_GetOddNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISample" type="tns:ISample">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISample/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISample/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvenNumbers">
      <soap:operation soapAction="http://tempuri.org/ISample/GetEvenNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOddNumbers">
      <soap:operation soapAction="http://tempuri.org/ISample/GetOddNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port name="BasicHttpBinding_ISample" binding="tns:BasicHttpBinding_ISample">
      <soap:address location="http://localhost:62762/SampleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>