WCFAPI/Service References/DbOperationService/DbOperation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DbOperation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:40696/DbOperation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:40696/DbOperation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40696/DbOperation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDb" />
      <xsd:import schemaLocation="http://localhost:40696/DbOperation.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDbOperation_UpdateTable_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTable" />
  </wsdl:message>
  <wsdl:message name="IDbOperation_UpdateTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTableResponse" />
  </wsdl:message>
  <wsdl:message name="IDbOperation_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDbOperation_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDbOperation_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IDbOperation_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IDbOperation_GetTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTable" />
  </wsdl:message>
  <wsdl:message name="IDbOperation_GetTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableResponse" />
  </wsdl:message>
  <wsdl:message name="IDbOperation_GetTableFromPro_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableFromPro" />
  </wsdl:message>
  <wsdl:message name="IDbOperation_GetTableFromPro_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableFromProResponse" />
  </wsdl:message>
  <wsdl:portType name="IDbOperation">
    <wsdl:operation name="UpdateTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbOperation/UpdateTable" message="tns:IDbOperation_UpdateTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbOperation/UpdateTableResponse" message="tns:IDbOperation_UpdateTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbOperation/GetData" message="tns:IDbOperation_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbOperation/GetDataResponse" message="tns:IDbOperation_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbOperation/GetDataUsingDataContract" message="tns:IDbOperation_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbOperation/GetDataUsingDataContractResponse" message="tns:IDbOperation_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbOperation/GetTable" message="tns:IDbOperation_GetTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbOperation/GetTableResponse" message="tns:IDbOperation_GetTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableFromPro">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbOperation/GetTableFromPro" message="tns:IDbOperation_GetTableFromPro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbOperation/GetTableFromProResponse" message="tns:IDbOperation_GetTableFromPro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDbOperation" type="tns:IDbOperation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateTable">
      <soap:operation soapAction="http://tempuri.org/IDbOperation/UpdateTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDbOperation/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IDbOperation/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <soap:operation soapAction="http://tempuri.org/IDbOperation/GetTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableFromPro">
      <soap:operation soapAction="http://tempuri.org/IDbOperation/GetTableFromPro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DbOperation">
    <wsdl:port name="BasicHttpBinding_IDbOperation" binding="tns:BasicHttpBinding_IDbOperation">
      <soap:address location="http://localhost:40696/DbOperation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>