WCFAPI/Service References/WCFBaseClassService/WCFBaseClass.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFBaseClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFBaseClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="SuccessOfPetQT_PEWyrz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SuccessOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WCFBaseClass" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Pet" Namespace="http://schemas.datacontract.org/2004/07/WCFBaseClass" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FallibleOfPetQT_PEWyrz">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:Pet" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SuccessOfPetQT_PEWyrz" nillable="true" type="tns:SuccessOfPetQT_PEWyrz" />
  <xs:complexType name="FallibleOfPetQT_PEWyrz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FallibleOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WCFBaseClass" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Pet" Namespace="http://schemas.datacontract.org/2004/07/WCFBaseClass" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FallibleOfPetQT_PEWyrz" nillable="true" type="tns:FallibleOfPetQT_PEWyrz" />
  <xs:complexType name="Pet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pet" nillable="true" type="tns:Pet" />
</xs:schema>